@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+Mono:wght@300&display=swap');

body {
  font-family: sans-serif;
  background: rgb(255, 255, 255);
  counter-reset: page;
  font-family: 'Inter';
  font-size: 12pt;
}

p {
  font-size: 9pt;
  margin-left: 0.25in;
  margin-right: 0.25in;
  line-height: 1.3em;
}

h2 {
  break-before: right;
  font-size: 9pt;
  font-weight: bold;
  padding-bottom: 1em;
}

h3 {
  font-size: 6.5pt;
  line-height: 1.2em;
  padding-top: .5em;
}

h4 {
  font-size: 6.5pt;
  line-height: 1.2em;
  margin-left: 0.25in;
  margin-right: 0.25in;
}

h5 {
  font-size: 9pt;
  font-weight: bold;
  padding-bottom: 1em;
}

img { 
  width:100%;
}

.full-width { 
  width:100%;
}

.half {
  position: flex;
  z-index: 1;
  cursor: url("cursor.png"), auto;
 }

.halftop{
  position: absolute;
  z-index: 3;
  cursor: url("cursor.png"), auto;
}
.halftop:hover {
  transition: opacity 1s ease-out;
  opacity: 0%;
}

.full {
  position: flex;
  z-index: 1;
  cursor: url("cursor.png"), auto;
 }

.fullbottom {
  position: absolute;
  bottom: 0em;
  z-index: 3;
  cursor: url("cursor.png"), auto;
}
.fullbottom:hover {
  transition: opacity 1s ease-out;
  opacity: 0%;
}

.fulltop {
  position: absolute;
  top: 0em;
  z-index: 3;
  cursor: url("cursor.png"), auto;
}
.fulltop:hover {
  transition: opacity 1s ease-out;
  opacity: 0%;
}

@media print {
  body {
    background: white;
  }
}

@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-left: 0.25in;
  margin-right: 0.25in;
  margin-bottom: 0.5in;
}
  @page:left {
    margin-bottom: 0in;
    }
  @page:right {
    @bottom-left {
      content:"Kaleigh Rusgrove & Michelle Catanzaro";
      font-size: 6.5pt;
    }
    @bottom-center {
      content: counter(page);
      font-size: 6.5pt;
      max-width: 2em;
    }
    @bottom-right {
      content:"Seeing Climate Change";
      font-size: 6.5pt;
    }
  }
  @page:nth(1) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }
  @page:nth(4) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }
  @page:nth(5) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }
  @page:nth(1) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }
  @page:nth(8) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }
  @page:nth(9) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }
  @page:nth(14) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }
  @page:nth(15) {
    margin-top: 0in;
    margin-left: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
  }

  @page:nth(10) {
    margin-top: 0in;
    margin-bottom: 0.5in;
    @bottom-left {
      content:"Seeing Climate Change";
      font-size: 6.5pt;
    }
    @bottom-center {
      content: counter(page);
      font-size: 6.5pt;
      max-width: 2em;
    }
    @bottom-right {
      content:"Kaleigh Rusgrove & Michelle Catanzaro";
      font-size: 6.5pt;
    }
  }

  @page:nth(11) {
    margin-bottom: 0in;
    @bottom-left {
      content:" ";
    }
    @bottom-center {
      content: " ";
    }
    @bottom-right {
      content:"";
    }
  }
  